<div layout="column" flex>
    <div id="loading" ng-show="loading">
        <div>
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
        <div>
            {{ msg }}
        </div>
    </div>
    <md-content id="main" ng-hide="loading">
        <md-button class="info-icon md-icon-button">
            <md-icon id="clientFound" ng-class="lolClientFound ? replayVersionMatch ? 'ok' : 'warn' : 'error'">
                {{ lolClientFound ? replayVersionMatch ? 'check_circle' : 'warning' : 'error' }}
            </md-icon>
            <md-tooltip md-direction="left">
                {{ lolClientFound ? replayVersionMatch ? "LoL Client found: " : "Replay version does not match LoL version. You may not be able to play this replay. LoL Client: " : "No LoL Client found!" }} {{ lolClientVersionShort }}
            </md-tooltip>
        </md-button>

        <md-button class="open-replay md-raised md-primary md-button md-default-theme" ng-click="openFile()">
            Open file...
        </md-button>
        
        <div id="error-message" ng-show="error">
            {{ error }}
        </div>
        
        <div id="replay-info" ng-show="replay">
            <span>Game ID: {{ replay.gameId }} ({{ replay.region }})
                <span ng-hide="replay.complete" style="color: red;">
                    INCOMPLETE
                    <md-tooltip md-direction="top">
                        This file is incomplete and you may not be able to play it.
                    </md-tooltip>
                </span>
            </span>
            <span flex></span>
            <span>v{{ replay.riotVersion }}</span>
        </div>

        <div id="replay" ng-show="replay">
            <div>
                <table style="display: inline-block">
                    <tr ng-repeat="player in replay.players | filter: { 'teamNr': 0 }">
                        <td>{{ player.summonerName }}</td>
                        <td style="text-align: center;">
                            <img style="float: left; margin-right: 2px; margin-left: 2px;" ng-src="{{ddragonBase}}{{ddragonVersion}}img/champion/{{player.champion.image}}" width="48" height="48" />
                            <div style="float: left;">
                                <div class="spell1">
                                    <img ng-src="{{ddragonBase}}{{ddragonVersion}}img/spell/{{player.d.image}}" width="23" height="23">
                                </div>
                                <div class="spell2">
                                    <img ng-src="{{ddragonBase}}{{ddragonVersion}}img/spell/{{player.f.image}}" width="23" height="23">
                                </div>
                            </div>
                        </td>
                        <td style="text-align: center;">
                            <img style="margin-top: 5px;" ng-src="http://aof.gg/{{player.league.image}}" width="48" height="48" />
                            <md-tooltip md-direction="right">
                                {{ player.league.name }} {{ player.leagueRank != 0 ? player.leagueRank : "" }}
                            </md-tooltip>
                        </td>
                    </tr>
                </table>
                <table style="display: inline-block; float: right;">
                    <tr ng-repeat="player in replay.players | filter: { 'teamNr': 1 }">
                        <td style="text-align: center;">
                            <img style="margin-top: 5px;" ng-src="http://aof.gg/{{player.league.image}}" width="48" height="48" />
                            <md-tooltip md-direction="left">
                                {{ player.league.name }} {{ player.leagueRank != 0 ? player.leagueRank : "" }}
                            </md-tooltip>
                        </td>
                        <td style="text-align: center;">
                            <img style="float: right; margin-right: 2px; margin-left: 2px;" ng-src="{{ddragonBase}}{{ddragonVersion}}img/champion/{{player.champion.image}}" width="48" height="48" />
                            <div style="float: right;">
                                <div class="spell1">
                                    <img ng-src="{{ddragonBase}}{{ddragonVersion}}img/spell/{{player.d.image}}" width="23" height="23">
                                </div>
                                <div class="spell2">
                                    <img ng-src="{{ddragonBase}}{{ddragonVersion}}img/spell/{{player.f.image}}" width="23" height="23">
                                </div>
                            </div>
                        <td style="text-align: right;">{{ player.summonerName }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <md-button class="play-replay md-raised md-primary md-button md-default-theme" disabled="true" 
                ng-disabled="replay == null || !lolClientFound" ng-click="playReplay()">
            Play replay
        </md-button>
    </md-content>
</div>
